In [87]:
import numpy as np
lending_co_data=np.genfromtxt("Lending-Company-Saving.csv",delimiter=",",dtype=str,skip_header=1,usecols=[1,2,4])
lending_co_data

array([['id_1', 'Product B', 'Location 2'],
       ['id_2', 'Product B', 'Location 3'],
       ['id_3', 'Product C', 'Location 5'],
       ...,
       ['id_1041', 'Product B', 'Location 23'],
       ['id_1042', 'Product C', 'Location 52'],
       ['id_1043', 'Product B', 'Location 142']], dtype='<U12')

In [89]:
#Removes the id_ part from the 1st column of the lendlending_co_data array
lending_co_data[:,0]=np.char.strip(lending_co_data[:,0],"id_")

In [91]:
lending_co_data[:,1]=np.char.strip(lending_co_data[:,1],"Product ")

In [93]:
lending_co_data[:,2]=np.char.strip(lending_co_data[:,2],"Location ")

In [95]:
lending_co_data

array([['1', 'B', '2'],
       ['2', 'B', '3'],
       ['3', 'C', '5'],
       ...,
       ['1041', 'B', '23'],
       ['1042', 'C', '52'],
       ['1043', 'B', '142']], dtype='<U12')

In [97]:
#Replaced the alphabets by the numbers using a conditional in where statement 
lending_co_data[:,1]=np.where(lending_co_data[:,1]=='A','1',lending_co_data[:,1])
lending_co_data[:,1]=np.where(lending_co_data[:,1]=='B','2',lending_co_data[:,1])
lending_co_data[:,1]=np.where(lending_co_data[:,1]=='C','3',lending_co_data[:,1])
lending_co_data[:,1]=np.where(lending_co_data[:,1]=='D','4',lending_co_data[:,1])
lending_co_data[:,1]=np.where(lending_co_data[:,1]=='E','5',lending_co_data[:,1])
lending_co_data[:,1]=np.where(lending_co_data[:,1]=='F','6',lending_co_data[:,1])


lending_co_data

array([['1', '2', '2'],
       ['2', '2', '3'],
       ['3', '3', '5'],
       ...,
       ['1041', '2', '23'],
       ['1042', '3', '52'],
       ['1043', '2', '142']], dtype='<U12')

In [99]:
#chaned the data type from str to int32 and overwrote it over the original
lending_co_data=lending_co_data.astype(dtype=np.int32)
lending_co_data

array([[   1,    2,    2],
       [   2,    2,    3],
       [   3,    3,    5],
       ...,
       [1041,    2,   23],
       [1042,    3,   52],
       [1043,    2,  142]], dtype=int32)

In [ ]:
#Stack always gives a higher dimension output for its input 
#The outputs for stack and dstack are equivalent for 1 and 2 d arrays
#For a 3-d array dstack return a 3d array whereas stack returns a four dimesnsional array